* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
}

.container .slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #000;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms linear;
}

.subtitle {
  position: absolute;
  margin: 0;
  padding: 6px 30px;
  border-radius: 20px;
  background: #fff;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

.container .slide.active {
  flex: 10;
}

.container .slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s linear;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .container .slide {
    width: 100%;
    min-height: 60px;
    background-size: cover;
  }

  .container .slide.active {
    min-height: 60vh;
  }
}
